* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to bottom,rgba(67, 71, 86, 0.918),rgba(68, 111, 204, 0.826));
}

.introduce {
    display: flex;
    flex-direction: column;  
}

.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.introduce_item_img {
    width: 800px;
    height: 500px;
}

.introduce_item_img1 {
    width: 900px;
    height: 650px;
}

.introduce_item_title {
    width: 300px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-left: 100px;
}

.introduce_item_titles {
    width: 300px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-right: 100px;
}

.icons {
    background-color: rgb(26, 28, 30, 0.5);
    display: flex;
    padding: 0 300px;
    box-sizing: border-box;
    overflow: hidden;
}

.icons_items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 80px;
    width: 200px;
}
.icons_items span a {
    text-decoration: none;
    color: rgba(112, 164, 176, 0.811);
}

.icons_items_imgs {
    width: 200px;
    margin-bottom: 30px;
}

.foot {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: auto;
}
